#txt{
    font-size: 30px;
}
#pt{
    font-size: 40px;
    color: skyblue
}
#p2a{
    color: skyblue;
}
#p2b1 span img{
    margin-top: 100px;
    box-shadow: 2px 2px 7px 2px;
}
#p2b1 span a{
    text-decoration: none;
    color: skyblue;
    border: 1px solid;
        font-size: 25px;
    box-shadow: 2px 2px 7px 2px;
}
#p2b2 span img{
    margin-top: 100px;
    box-shadow: 2px 2px 7px 2px;
}
#p2b2 span a{
    text-decoration: none;
    color: skyblue;
    border: 1px solid;
        font-size: 25px;
    box-shadow: 2px 2px 7px 2px;
}
#p2b3 span img{
    margin-top: 100px;
    box-shadow: 2px 2px 7px 2px;
}
#p2b3 span a{
    text-decoration: none;
    color: skyblue;
    border: 1px solid;
        font-size: 25px;
    box-shadow: 2px 2px 7px 2px;
}
#f2 span {
    font-size: 20px;
    
}
#f3 span {
    font-size: 20px;
}
#f4 span {
    font-size: 20px;
}
#f5 span {
    font-size: 20px;
}
#f1 span {
    font-size: 20px;
}
